body {
  background-color: #000000;
  color: #868d96;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

h1,
h2 {
  color: #fff;
  font-weight: 700;
}

h2 {
  font-size: 40px;
}

h1 {
  font-size: 82px;
}

button {
  border-radius: 5px;
  border: #ffce65 solid 1px;
  background-color: #000000;
  color: #fff;
  padding: 3px 20px;
  font-weight: 700;
  font-size: 18px;
}

button:hover {
  border: #fff solid 1px;
}

button.secondary {
  background-color: #ffce65;
  color: #770b10;
}

button.secondary:hover {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}

button.connect {
  border-radius: 4px;
  border: #d1d7de solid 1px;
  font-weight: 400;
  font-size: 14px;
  padding: 3px 10px;
}
button.connect:hover {
  border: #ffce65 solid 1px;
}

.mt-10 {
  margin-top: 6rem !important;
}

.mt-20 {
  margin-top: 12rem !important;
}

.mt-30 {
  margin-top: 18rem !important;
}

.mainImg {
  position: absolute;
  bottom: -60%;
  right: -12%;
  z-index: -1;
  max-width: 430px;
}

a {
  color: #868d96;
}

a:hover {
  color: #fff;
}

.fs-small {
  font-size: 14px;
}

#connect p {
  font-size: 14px;
  color: #fff;
}

#nftInfo {
  min-height: 80px;
  font-size: 18px;
}

.btn-primary {
  font-size: 1.2rem;
  border-radius: 1.5rem;
  background-color: #1653f1;
  border-color: #1653f1;
  padding: 0.375rem 2rem;
}

.text-link {
  color: #ffce65;
}

button:disabled {
  background-color: #868d96;
  border-color: #868d96;
  color: white;
  cursor: no-drop;
}

button:disabled:hover {
  background-color: #868d96;
  border-color: #868d96;
  color: white;
  cursor: no-drop;
}
